[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=X-GNUstep;
Exec=/usr/bin/openapp LunarCalendar
FilePattern=LunarCalendar.app;LunarCalendar;
